@model ReservationSystem.Models.PersonEngagement

@{
    ViewBag.Title = "Engagements";
}

<h2>@Model.Person.FirstName @Model.Person.LastName</h2>

<div>
    <h4>Personal Engagement</h4>
    <hr/>
    <div class="row">
        <div class="col-md-2">Team</div>
        <div class="col-md-2">Role</div>
        <div class="col-md-2">Start Date</div>
        <div class="col-md-2">Time</div>
        <div class="col-md-2">
            @Html.ActionLink("Create New", "EngCreate", new { id = Model.Person.Id})
        </div>
        <hr/>
    </div>
</div>
@foreach (var item in Model.Engagements)
{
    <div class="row">
        <div class="col-md-2">@item.TeamName</div>
        <div class="col-md-2">@item.RoleName</div>
        <div class="col-md-2">@item.StartDate.ToString("dd.MM.yyyy")</div>
        <div class="col-md-2">@item.Time</div>
        <div class="col-md-2">
            <a href="/people/engedit/@item.Id">Edit</a>
            <a href="/people/engdelete/@item.Id">Delete</a>
        </div>
        <hr/>
    </div>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

