@model IList<ReservationSystem.Models.ReservationModel>
@{
    ViewBag.Title = "Rooms";
}

<h2>Available Rooms</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-6 col-sm-6 col-md-3">
            <div class="thumbnail" style="margin-top:10px">
                <img src="@Url.Content("~/Content/confRoom.png")" />
                <div class="caption">
                    <h4> @item.Name </h4>
                    @foreach (var characteristic in item.Characteristics)
                    {
                        <span>
                            @if (characteristic.Name == "NumberOfChairs")
                            {   <span style="padding:3px">
                                <img src="@Url.Content("~/Content/chairBlue.png")" />  @characteristic.Value
                                </span>
                            }
                            else if (characteristic.Name == "Projector" && characteristic.Value == "Yes")
                            {    <span style="padding:3px">
                                <img src="@Url.Content("~/Content/projectorBlue.png")" />
                                </span>
                            }
                            else if (characteristic.Name == "Projector" && characteristic.Value == "No")
                            {    <span style="padding:3px">
                                <img src="@Url.Content("~/Content/projectorGray.png")" />
                                </span>
                            }

                            else if (characteristic.Name == "TV" && characteristic.Value == "Yes")

                            {
                                <span style="padding:3px">
                                    <img src="@Url.Content("~/Content/tvBlue.png")" />
                                </span>
                            }
                            else if (characteristic.Name == "TV" && characteristic.Value == "No")
                            {
                                <span style="padding:3px">
                                    <img src="@Url.Content("~/Content/tvGray.png")" />
                                </span>
                            }
                            else if (characteristic.Name == "WhiteBoard" && characteristic.Value == "Yes")
                            {
                                <span style="padding:3px">
                                    <img src="@Url.Content("~/Content/whiteboardBlue.png")" />
                                </span>
                            }
                            else if (characteristic.Name == "WhiteBoard" && characteristic.Value == "No")
                            {
                                <span style="padding:3px">
                                    <img src="@Url.Content("~/Content/whiteboardGray.png")" />
                                </span>
                            }
                        </span>
                    }
                    <br>
                    <br>
                    <p >
                        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#extendModal">Reserve</button>
                    </p>
                </div>
            </div>
        </div>
    }

</div>
