@model SkillsLibrary.Models.SkillCategoryModel

@{
    ViewBag.Title = "Edit Category";
}

<div class="db-header clearfix">
    <div class="page-header-title"><span class="glyphicon glyphicon-cog"></span> Edit Category</div>
    <div class="db-header-extra">
        <a href="/Skills/AddSkill/@Model.Id" class="btn btn-primary btn-sm" data-toggle="modal">Add New Skill</a>
        <a href="/Skills/DeleteCategory/@Model.Id" class="btn btn-danger btn-sm" data-toggle="modal">Delete Category</a>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                <div>
                    <br>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            
        </div>


            <div class="col-md-8">
                <div class="panel-group panel panel-default">
                    <div class="panel-body">
                        @foreach (var tool in Model.Tools)
                        {
                            <div>
                                @Html.DisplayFor(modelItem => tool.Name)
                                <span style="float:right">
                                    <a style="color:black" href="/Skills/EditSkill/@tool.Id"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a style="color:black" href="/Skills/DeleteSkill/@tool.Id"><span class="glyphicon glyphicon-trash"></span></a>
                                </span>
                            </div>
                        }
                    </div>
                </div>
            </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div>
    @ViewBag.CannotDeleteError
</div>

