@model TimeTracking.Models.DayModel

@{
    ViewBag.Title = "Delete Day";
}
<div class="form1 container-fluid col-xs-offset-2 col-xs-8">
    <h2>Delete</h2>

    <h3 class="username">Are you sure you want to delete this?</h3>
    <div>
        <h4>Days</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt class="username">
                @Html.DisplayNameFor(model => model.PersonName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PersonName)
            </dd>

            <dt class="username">
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt class="username">
                @Html.DisplayNameFor(model => model.WorkTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WorkTime)
            </dd>

            <dt class="username">
                @Html.DisplayNameFor(model => model.PtoTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PtoTime)
            </dd>

            <dt class="username">
                @Html.DisplayNameFor(model => model.EntryStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EntryStatus)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                
                    @Html.ActionLink("Back to List", "Days/" + Model.Person, "TimeTracking")
                    @*@Html.ActionLink("Back to List", "", new { id = Model.Person })*@

                
            </div>
        }
    </div>
    </div>
