@model ReservationSystem.Models.EventExtendModel

<h2>Delete</h2>

<h3>Are you sure you want to delete this extended event?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            Repeat until date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepeatUntil)
        </dd>

        <dt>
            Repeating Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepeatingType)
        </dd>
        <dt>
            Frequency
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frequency)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }

</div>
