@model TimeTracking.Models.DayModel
@{
    ViewBag.Title = "Create Engagement";
}
<h2>@Model.PersonName</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Day</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Person)


        <div class="form-group">
            @Html.LabelFor(model => model.Date)
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date,
                new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "",
                new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkTime)
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkTime,
                new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WorkTime, "",
                new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PtoTime)
            <div class="col-md-10">
                @Html.EditorFor(model => model.PtoTime,
                new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PtoTime, "",
                new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EntryStatus)
            <div class="col-md-10">
                @Html.EditorFor(model => model.EntryStatus,
                new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EntryStatus, "",
                new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Engagements", new { id = Model.Person })
</div>