@model TimeTracking.Models.DayDetail
@{
    ViewBag.Title = "Detail";
}


<h2>@Model.Day</h2>


<div>
    <h4>Details</h4>
    <hr />
    <div class="row">
        <div class="col-md-2">Team</div>
        <div class="col-md-2">Description</div>
        <div class="col-md-2">Bill Time</div>
        

        <div class="col-md-2">

            @Html.ActionLink("Create New", "DetCreate", new { id = Model.Day.Id})

        </div>
        <hr />
    </div>
</div>

@foreach (var item in Model.Detail)
{
    <div class="row">

        <div class="col-md-2">@item.TeamName</div>
        <div class="col-md-2">@item.Description</div>

        <div class="col-md-2">@item.BillTime</div>
        



        <div class="col-md-2">
            <a href="/days/dayedit/@item.Id">Edit</a> |
            <a href="/days/daydelete/@item.Id">Delete</a>
        </div>
        @*<div class="col-md-2">@Html.ActionLink("Details", "Detail", new { id = item.Id })</div>*@

        <hr />
    </div>
}

<p>
    @Html.ActionLink("Back to List", "Index")

</p>

